body{
    white-space: nowrap;
}

h1{
    padding:10px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    -webkit-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.5); 
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.5);
}

.navigationTabs{
    text-align:center;

}

.top{
    width:100%;
    display:inline-block;
    
}

#signoutbutton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:10px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.signoutbutton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.signoutbutton:active {
	position:relative;
	top:1px;
}

#signout{
    position:absolute;
    left:90%;
    top:6.2%;
}

#pageTitle{
    text-align:center;
}

.navigationTabs>a{
    text-align:center;
    border: solid black 2px;
    box-shadow: 0 8px 3px -3px black;
    padding: 5px 50px 5px 50px;
    background-color:#d6d6d6;
    text-decoration: none;
    font-family: Verdana;
    font-size:1.4em;
    color:#174259;
}


.navigationTabs>a:hover{
    background-color:#d0d0d0 ;
    font-size:150%;
} 

.flex_cont{
    flex-wrap:wrap;
    margin-top:50px;
    display:flex;
    justify-content: center;
}

.flex_cont > * {

    background-color:grey ;

    margin: 40px;
    line-height: 250px;
    border-radius:5px;
    flex: 0 0 22.33%;
  }


.flex_cont>div:hover{
      box-shadow: 5px 10px 6px -6px black;
  }

#createA{
    border: solid black 1px;
    padding:10px;
    margin-top:100px;
    margin-left:10%;
}


