h1{
    padding-left:50px;
    font-size: 4em;
}

#LoS{
    border-radius: 3px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    float: left;
    width: 23%;
    text-align: center;


}

#sDetails{
    border-radius: 3px;

    border-style: solid;
    border-color: black;
    border-width: 1px;
    float:right;
    width: 75%;
    height:100%;
    padding-left:5px;
    padding-right:5px;
}

.buttons{
    cursor: pointer;
    border-radius: 3px;
    border: 0.5px solid black;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
}

.pokenames:hover{
    cursor:pointer;
}

#LoSn{
    text-transform: capitalize;
    cursor: pointer;
    text-align: left;
}
#LoSn>p{
    padding-left:35px;
}

.indexname:hover{
    border-radius: 45px;
    background-color: #E1E1E1;
}