

#headMain{
    color:green;
    text-align: center;
    border: 2px solid black;
    margin:20px;
    padding:25px;
    font-size:3em;
}

#score{
    margin:20px;
}

#mainBoard{
    border:2px solid black;
    margin:20px;
    
    
}

.container{
    display:grid;
    grid-column-gap:25px;
    grid-row-gap:25px;
    grid-template-areas:
    'reset up .'
    'left . right'
    '. down .';
    height:200px;
    width:400px;
    margin:40px;
    
}

button{
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
Button:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
Button:active {
	position:relative;
	top:1px;
}

#reset{
    grid-area:reset;
}

#upKey{
    grid-area:up;
}
#downKey{
    grid-area:down;
}
#leftKey{
    grid-area:left;
}
#rightKey{
    grid-area:right;
}



