body{
  background-image: url(../images/login.gif);
  background-repeat: no-repeat;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  
}




#insideForm{

  text-align:center;
}

#mainWindow{
  position:fixed;
  width:40em;
  margin:auto;
  border: 2px solid black;
  border-radius: 350px 2px;
  padding: 20px;
  margin-left:550px;
  margin-top:12em;
  
}




input{
  border-radius:0.2em;
  margin-left:10px;
  
}

#password{
  margin-left:16px;
}


#submitButton{
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:2px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#black;
	font-family:Arial;
	font-weight:bold;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  font-size:100%;
  margin-top:10px;
}




