body{
    white-space: nowrap;
}

h1{
    padding:10px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    -webkit-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.5); 
    box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.5);
}

.navigationTabs{
    text-align:center;
}

.top{
    width:100%;

    
}

.navigationTabs>a{
    text-align:center;
    border: solid black 2px;
    box-shadow: 0 8px 3px -3px black;
    padding: 5px 50px 5px 50px;
    background-color:#d6d6d6;
    text-decoration: none;
    font-family: Verdana;
    font-size:1.4em;
    color:#174259;
    
}


.navigationTabs>a:hover{
    background-color:#d0d0d0 ;
    font-size:150%;
} 

.UserList{
    border:2px solid black;
    margin:auto;
    margin-top:50px;
    width:50%;
    padding: 1em;
}

.allusers{
    font-size:200%;
}

.users{
    border-radius: 5px;
    border:1px solid black;
    margin:5px;
    padding:1em;
    width:80%;
    font-family: lucida console;
}

.users:nth-child(3){
    margin-left: 20px;
    border:3px solid black;
}

.userForms{
    margin:auto;
    width:40%;
    border: 1px solid black;
    padding:20px;
}

input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    border-radius: 5px;
}

.signupbox, .deletebox {
    padding:10px;
}
.signupbox{
    float: left;
}

Button {
    margin-top:2px;
	box-shadow:inset 1px 0px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:9px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px -1px 0px #ffffff;
}
Button:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
Button:active {
	position:relative;
	top:1px;
}

.flex_cont{
    flex-wrap:wrap;
    margin-top:50px;
    display:flex;
    justify-content: center;
}

.flex_cont > .bidbox{

    background-color:grey ;
    margin: 40px;
    border-radius:5px;
    flex: 0 0 22.33%;
    padding:20px;
    height:200px;
  }


.flex_cont>div:hover{
      box-shadow: 5px 10px 6px -6px black;
  }

.deleteauction{
    width:20%;
    margin-left:10%;
    border:2px solid black;
    padding:5px;
    margin-top:2em;
}

.deleteauctionform{
    margin-left:20%;
    padding:5px;
    padding-top:10px;
    padding-left:10px;
}